@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary-500: #a0e5fb;
  --color-primary-600: #b4eafc;
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  --color-white-text: #fff;
}

@layer base {
  body {
    background-color: var(--color-surface-100);
    color: var(--color-white-text);
  }
}

/* TODO: Add @layer components for .btn / .card css for components
Or could just put css for the Event component in the Event.tsx file itself
For <Link> components maybe can edit in @layer components
*/
